:root {
  --accent-color: #404bbf;
  --primary-text: #2e2f42;
  --secondary-text-color: #434455;
  --primary-text-color-light: #ffffff;
  --button-color: #4d5ae5;
  --background-color: #2e2f42;
}

/* Скидання маркування списків */
.list {
  list-style: none;
}

/* Скидання підчеркувань посилань */
.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text);
}

/* ================================ COMPONENTS ================================ */
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.list-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ================================ /COMPONENTS ================================ */

/* ================================== HEADER ================================== */

/* Логотип */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text);
}

.logo-style {
  color: var(--accent-color);
}

/* Головне меню */
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

/* Контактна інформація */
.contacts-item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts-phone {
  color: var(--secondary-text-color);
}

.contacts-mail {
  color: var(--secondary-text-color);
}
.contacts-phone:hover,
.contacts-phone:focus {
  color: var(--accent-color);
}

.contacts-mail:hover,
.contacts-mail:focus {
  color: var(--accent-color);
}

/* ================================== /HEADER ================================== */

/* ==================================== HERO ==================================== */

.hero {
  background-color: var(--background-color);
}
/* Заставка */

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-light);
}

.modal-btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--primary-text-color-light);

  background: var(--button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  background: var(--accent-color);
}
/* ================================== /HERO ================================== */

/* ================================== PORTFOLIO ================================== */

.filter-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  width: 116px;
  height: 48px;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  color: var(--button-color);
  flex: none;
  order: 1;
  flex-grow: 0;
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--primary-text-color-light);
  background: var(--accent-color);
}

/* ================================== /PORTFOLIO================================== */

/* ================================== FOOTER ================================== */
/* Стилі підвалу */
.footer-description {
  font-size: 16px;
  line-height: 1.5px;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

.page-footer {
  background: var(--background-color);
}

.logo-footer {
  color: #f4f4fd;
}
/* ================================== /FOOTER ================================== */
